#game-board {
  padding: 50px 280px;
}

canvas {
  border: 7px solid black;
  background-image: url("/DOCS/Assets/images/jungle.jpg");
  background-size: 100% 100%;
}

button {
  font-size: 50px;
  font-family:'ArcadeClassic', sans-serif;
  background-color: brown;
  color: whitesmoke
}

body {
  text-align: center;
  background-image: url("/DOCS/Assets/images/background.jpg");
}

h1 {
  font-size: 60px;
  font-family: 'ArcadeClassic', sans-serif;
  color: whitesmoke;
}
